body {
    font-family: Arial, Helvetica, sans-serif;
}

.hide-modal-alert {
    display: none !important;
}

.modal-container-alert {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.385);
    z-index: 9999;
}

.button-modal-alert {
    align-items: center;
    border-radius: 5px;
    background-color: rgb(0,128,85);
    border-color: rgb(0,128,85);
    color: rgb(244, 244, 244);
}

.button-modal-alert:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.div-modal-alert {
    background-color: rgb(38, 37, 37);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 15px rgb(38, 37, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
}